.Daily__date {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #e5ebed;
  margin-bottom: 5px;
}

.Daily__date:hover {
  background-color: #f7f9fa;
}

.Daily__table {
  margin-top: 10px;
}
