.TimeEntryReport__container {
  padding: 5px 10px 20px;
}

.TimeEntryReport__tabs {
  margin-top: 10px;
  border-top: 1px solid lightgrey;
  margin-bottom: 5px;
}

.TimeEntryReport__loading {
  padding: 24px 12px;
  display: flex;
}

.TimeEntryReport__loading-text {
  display: inline-block;
  margin: 9px 6px 12px 24px;
}
