.TimeEntryReport__container {
  padding: 5px 10px 20px;
}

.TimeEntryReport__loading {
  height: 100px;
  margin-top: 50px;
  text-align: center;
}

.TimeEntryReport__tabs {
  margin-top: 10px;
  border-top: 1px solid lightgrey;
  margin-bottom: 5px;
}
